.App {
  text-align: center;
}

/* nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 10vh;
     background: rgb(73, 79, 82);
     color: white;
}

.nav-links {
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     list-style: none;
}

.navStyle {
     text-decoration: none;
     color: white;
} */

.profile-img {
     max-width: 200px;
     max-height: 200px;
}
